<h2>My word: <%= @word.word_input%></h2>
<p><a href="/words/<%= @word.id %>/edit">Edit word</a></p>

<h3>Current definitions: </h3>
<% if @word.definitions.any? %>
    <ol>
      <% @word.definitions.each do |definition| %>
        <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.name %></a></li>
      <% end %>
    </ol>
  <% else %>
    <p>There are no definitions listed for this word yet.</p>
  <% end %>

<form action="/words/<%= @word.id %>/definitions" method="post">
  <div class="form-group">
    <label for="user_definition">New definition: </label>
    <input id="user_definition" name="user_definition" class="form-control" type="text">
  </div>
  <button type="submit" class="danger ">Add definition</button>
</form>
<br>
<p><a href="/words">Return to Word Bank</a></p>
